.idea
Cacahuete.MinecraftLib/bin
Cacahuete.MinecraftLib/obj
mcLaunch/bin
mcLaunch/obj
build/bin
build/obj
mcLaunch.Core/bin
mcLaunch.Core/obj
mcLaunch.MinecraftGuard/bin
mcLaunch.MinecraftGuard/obj
Tester
mcLaunch/resources/credentials
.nuke/temp
output
server
mcLaunch.Installer/bin
mcLaunch.Installer/obj
mcLaunch.GitHub/bin
mcLaunch.GitHub/obj
mcLaunch.Server/bin
mcLaunch.Server/obj
mcLaunch.sln.DotSettings.user